/* @font-face {
    font-family: "Nimbus Sans";
    font-style: normal;
    font-weight: normal;
    src: local("Nimbus Sans"), url("NimbusSanL-Reg.otf") format("otf");
} */

:root {
    --color1: black;
    --color2: white;
}

* {
    transition: color 1s, background-color 1s;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--color1);
    color: var(--color2);
}

h1 {
    font-family: "Volkhov", serif;
    font-size: 2.7rem;
}

#all {
    width: 100%;
}

#content {
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    opacity: 0;

    transition: opacity 0.5s;
}

#theme {
    position: fixed;
    left: 0.7rem;
    bottom: 0.7rem;
    cursor: pointer;
    z-index: 10;
    color: --color1;
}

.input-holder {
    width: 30%;
    height: 25rem;
    border-radius: 0.5rem;
    padding: 5%;
    margin: 0 auto 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    background-color: var(--color2);
    color: rgb(31, 26, 26);
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    opacity: 1;

    transition: opacity 0.5s;
}

.disappear {
    opacity: 0;
}

.appear {
    opacity: 1 !important;
}

.lock {
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
    color: var(--color1);
}

.encryption-title {
    text-align: center;
    color: var(--color1);
}

#input {
    margin: 3rem 0 0 0;
    width: 92%;
    padding: 3%;
    font-size: 1.2rem;
    text-align: center;
    border-left-width: 1%;
    border-right-width: 1%;
}

#input.wrong {
    animation-name: wrong;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}

@keyframes wrong {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.submit {
    margin: 3rem 30% 0 30%;
    font-size: 1.2rem;
    width: 40%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    /* height: 3rem; */
    text-align: center;
    background-color: var(--color1);
    color: var(--color2);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
}

.submit:focus {
    background-color: #222;
}

.heading {
    padding-bottom: 2rem;
}

.main-title {
    font-size: 6rem;
}

.container {
    margin-left: 3rem;
    display: flex;
}

.container .title {
    width: 40%;
}

.container .description {
    margin: 3rem 0 0 0;
    font-size: 1.5rem;
    width: 60%;
}

.svg-arrow2 {
    margin: 1rem;
    margin-left: 40%;
    transform: rotate(100deg);
    transform: scale(-1, 1);
}

#img-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 10px;
}

.square {
    padding-top: 100%;
    position: relative;
}

.square img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

#show-image {
    display: none;
    width: 80%;
    height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    background-color: var(--color2);
    color: var(--color1);
    left: 10%;
    top: 0%;
    bottom: 0%;
    z-index: 1;
    overflow-y: scroll;
    filter: blur(0px);
    scrollbar-color: var(--color1) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

/* Scrollbar */
/* width */
#show-image::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#show-image::-webkit-scrollbar-track {
    background-color: var(--color2);
}

/* Handle */
#show-image::-webkit-scrollbar-thumb {
    background: var(--color1);
    border-radius: 3px;
}
/* ////////// */

#close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

#show-image img {
    width: 100%;
    height: auto;
}

#show-image.show {
    display: block;
    position: fixed;
}

#show-image-description {
    padding: 1rem 3rem 2rem 3rem;
}

@media only screen and (max-width: 60rem) {
    .container {
        display: block;
        margin: 0;
    }

    .container .title {
        width: 100%;
    }

    .container .description {
        margin: 0;
        width: 100%;
    }

    .input-holder {
        width: 50%;
        height: 25rem;
    }
}

@media only screen and (max-width: 50rem) {
    #show-image {
        width: 100%;
        left: 0;
    }

    #content {
        width: 100%;
    }

    #img-holder {
        grid-template-columns: repeat(auto-fill, 24.4%);
        grid-gap: 2px;
    }

    .heading {
        padding: 1rem;
    }

    .input-holder {
        width: 80%;
        height: 28rem;
    }

    .main-title {
        font-size: 5rem;
    }
}
